<html>
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <form action="/admin" method="POST">
        <center>
                <h2>LOGIN</h2>
                <br>
                <br>
                UserName : <input type="text" name="user"><br><br>
                Password : <input type="password" name="passwd"><br><br>
                <input type="submit" value="LOGIN"> &nbsp;
                </center>
        </form>
       
    
</body>
</html>