<html>
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <form action="/relation" method="POST">
        <center>
                <h2>Add Relation</h2>
                <br>
                <br>
                User1 : <input type="text" name="name1"><br><br>
                User2 : <input type="text" name="name2"><br><br>
                Relation : <input type="text" name="relation"><br><br>
                <input type="submit" value="submit"> &nbsp;<br><br>
       
        </form>
        <form action="/view" method="POST">
            <input type="submit" value="view">
        </center>
        </form>
       
</body>
</html>