
<html>
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <form action="/action" method="POST">
        <center>
                <h2>REGISTRATION</h2>
                <br>
                Name : <input type="text" name="name"><br><br>
                Email : <input type="email" name="email"><br><br>
                Password : <input type="text" name="pass"><br><br>
                <input type="submit" value="Register">
            </center>
    </form>
    
</body>
</html>